[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/sublime/nano.save]
row=6
col=1

[/home/sublime/Sync]
row=7
col=0

[/home/sublime/NGINX-Themes]
row=2
col=1

[/home/sublime/20190301_141030.jpg]
row=4
col=1

[/home/sublime/docker]
row=1
col=1

[/home/sublime/bigchungus.service]
row=7
col=1

[/home/sublime/SimplySublimesAvatar.png]
row=0
col=2

[/home/sublime/Atriox Hosts.bat]
row=5
col=1

[/home/sublime/Git]
row=6
col=0

[/home/sublime/Code Monkeys]
row=0
col=1

[/home/sublime/2019-06-16_07-34-33_3520x1080.png]
row=8
col=0

[/home/sublime/Downloads]
row=5
col=0

[/home/sublime/20190301_141004.jpg]
row=3
col=1

[/home/sublime/Black Clover - S01E01 - Asta and Yuno - HDTV-1080p v2 - x264 AAC - Erai-raws.mkv]
row=8
col=1

[8b62a5f5-1b94-4347-b4cc-01347f882937]
row=2
col=0

[789ca853-0348-458d-9695-dacc731d5c18]
row=0
col=0

[BC47-8314]
row=1
col=0

[/]
row=3
col=0

[/home/sublime]
row=4
col=0

