[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/sublime/Pictures]
row=1
col=1

[/home/sublime/git]
row=6
col=0

[/home/sublime/Fritzing]
row=0
col=1

[/home/sublime/Music]
row=3
col=2

[/home/sublime/SteamLibrary]
row=5
col=1

[/home/sublime/Downloads]
row=0
col=2

[/home/sublime/Phone]
row=3
col=1

[/home/sublime/Sync]
row=1
col=2

[/home/sublime/P1100120.mov]
row=2
col=2

[/home/sublime/Documents]
row=6
col=1

[/home/sublime/Videos]
row=4
col=1

[01D40064BF76A3A0]
row=0
col=0

[C69EC5019EC4EACF]
row=1
col=0

[FC30-3DA9]
row=2
col=1

[4602E18E02E18373]
row=2
col=0

[Trash]
row=3
col=0

[/]
row=4
col=0

[/home/sublime]
row=5
col=0

