! hard contrast: *background: #1d2021
*background: #282828
! soft contrast: *background: #32302f
*foreground: #ebdbb2
! Black + DarkGrey
*color0:  #282828
*color8:  #928374
! DarkRed + Red
*color1:  #cc241d
*color9:  #fb4934
! DarkGreen + Green
*color2:  #98971a
*color10: #b8bb26
! DarkYellow + Yellow
*color3:  #d79921
*color11: #fabd2f
! DarkBlue + Blue
*color4:  #458588
*color12: #83a598
! DarkMagenta + Magenta
*color5:  #b16286
*color13: #d3869b
! DarkCyan + Cyan
*color6:  #689d6a
*color14: #8ec07c
! LightGrey + White
*color7:  #a89984
*color15: #ebdbb2


!##########################################
!#                   Rofi                 #
!##########################################

rofi.location:          0
rofi.color-enabled:     true
!                       'background', 'border'
rofi.color-window:      #000d10, #93a1a1, #93a1a1, #93a1a1

! State:                'bg',      'fg',   'bgalt', 'hlbg',    'hlfg'
rofi.color-normal:      #00000d10, #dfdfdf, #00ffffff, #00000d10, #93a1a1
rofi.color-urgent:      #00000d10, #dfdfdf, #00ffffff, #00000d10, #93a1a1
rofi.color-active:      #00000d10, #dfdfdf, #00ffffff, #00000d10, #93a1a1
rofi.separator-style:   solid
rofi.fullscreen:        false
rofi.padding:           20
rofi.lines:             6
rofi.hide-scrollbar:    true
rofi.line-margin:       5
rofi.fake-transparency: true
rofi.yoffset:           0
rofi.xoffset:           0
rofi.width:             600
rofi.opacity:           50
rofi.font:              Fira\ Code 16

!##########################################
!#                 URxvt                  #
!##########################################
URxvt.tabbed.tabbar-fg: 2
URxvt.tabbed.tabbar-bg: 0
URxvt.tabbed.tab-fg: 0
URxvt.tabbed.tab-bg: 2

URxvt.saveLines: 100000
URxvt.internalBorder: 1
URxvt.font: xft:FiraCode Nerd Font:pixelsize=16
URxvt.keysym.Shift-Control-V:    perl:clipboard:paste
URxvt.keysym.Shift-Control-c:    perl:clipboard:copy
URxvt.keysym.Shift-t:	         perl:tabbedex:new_tab
URxvt.keysym.Shift-Right:	     perl:tabbedex:next_tab
URxvt.keysym.Shift-Left:	     perl:tabbedex:prev_tab
URxvt.iso14755:                  False
URxvt.perl-ext-common:           default,tabbedex,matcher,clipboard,selection-to-clipboard
URxvt.url-launcher: /usr/bin/xdg-open
URxvt.matcher.button: 1
URxvt.cursorUnderline:           true
URxvt.cursorBlink:               false
URxvt.scrollBar:                 false
URxvt.scrollBar_right:           false
URxvt.transparent:               false
URxvt.depth:                     32
!URxvt.background:                [100]#000d10
URxvt.letterSpace:               2
*antialias:                      true
*autohint:                       true

URxvt.scrollTtyOutput: false
URxvt.scrollTtyKeypress: true

!##########################################
!#                 Xterm                  #
!##########################################

<Btn1Up>: select-end(PRIMARY, CLIPBOARD, CUT_BUFFER0)

! General settings
XTerm*termName:         xterm-256color
XTerm*geometry:         65x20
XTerm*saveLines:        1024
XTerm*scrollBar:        False
XTerm*loginshell:       True
XTerm*cursorBlink:      True

! Fonts and Encoding
XTerm*utf8:             True
XTerm*locale:           True
XTerm*utf8Title:        True
XTerm*renderFont:       True
XTerm*preeditType:      Root
XTerm*xftAntialias:     True
XTerm*faceName:         FiraCode Nerd Font
XTerm*faceSize:         24
XTerm*scaleHeight: 1
! Trim trailing spaces
XTerm*trimSelection:    True

! Fix alt-key inputting
XTerm*eightBitInput:    False
XTerm*metaSendsEscape:  True

! Copy and paste with clipboard
XTerm*translations: #override \
	Ctrl Shift <KeyPress> C: copy-selection(CLIPBOARD) \n\
	Ctrl Shift <KeyPress> V: insert-selection(CLIPBOARD)

! Allow selecting email/url by double-click
XTerm*charClass: 33:48,37-38:48,45-47:48,64:48,58:48,126:48,61:48,63:48,43:48,35:48

!----------------
!  Xft Settings
!----------------

Xft*dpi:                96
Xft*antialias:          True
Xft*hinting:            True
Xft*rgba:               rgb
Xft*autohint:           False
Xft*hintstyle:          hintlight
Xft*lcdfilter:          lcddefault
