[Desktop Entry]
Encoding=UTF-8
Version=1.0
Name=Microsoft Code (Open Source)
Comment=Code Editing. Redefined.
GenericName=Text Editor
Exec=/usr/bin/code-oss --unity-launch %F
Icon=/usr/share/code-oss/resources/app/resources/linux/code.png
Type=Application
StartupNotify=true
StartupWMClass=Code - OSS
Categories=Utility;TextEditor;Development;IDE;
MimeType=text/plain;inode/directory;
Actions=new-window;
Keywords=vscode;
X-XFCE-Source=file:///usr/share/applications/code.desktop

[Desktop Action new-window]
Name=New Window
Exec=/usr/bin/code-oss --new-window %F
Icon=/usr/share/code-oss/resources/app/resources/linux/code.png
