/* @define-color bg0 #212121; */
/*@define-color bg1 #353535;*/
/*@define-color bg1 rgba(33,33,33,1);*/
@define-color bg1 rgba(24, 24, 37, 0.9);
@define-color fg0 #cdd6f4;
@define-color yellow #ffcb6b;

* {
  font-family: Hasklug Nerd Font;
  font-size: 18px;
  font-weight: 500;
  min-height: 0;
}

window#waybar {
  /* background-color: @bg0; */
  background-color: transparent;
  color: @fg0; /* didn't affect workspaces */
}

#workspaces {
  background-color: @bg1;
  border-radius: 10px;
  padding: 0px 4px;

  margin: 8px 4px 0px 8px;
}

#workspaces button {
  color: @fg0;
  border-radius: 10px;
}

#workspaces button.active {
  color: @yellow;
}

#window {
  background-color: @bg1;
  border-radius: 10px;
  padding: 0px 16px;
  margin: 8px 4px 0px 4px;
}

window#waybar.empty #window {
  /* hide empty module */
  background-color: transparent;
}

#tray {
  background-color: @bg1;
  border-radius: 10px;
  padding: 0px 16px;
  margin: 8px 4px 0px 4px;
}

#hw {
  background-color: @bg1;
  border-radius: 10px;
  padding: 0px 16px;
  margin: 8px 4px 0px 4px;
}

#cpu {
  margin-right: 8px;
}

#memory {
  margin-left: 8px;
  margin-right: 16px;
}

#control {
  background-color: @bg1;
  border-radius: 10px;
  padding: 0px 16px;
  margin: 8px 4px 0px 8px;
}

#battery {
  margin-right: 8px;
}

#network {
  margin: 0px 8px;
}

#bluetooth {
  margin: 0px 8px;
}

#pulseaudio {
  margin: 0px 8px;
}
#backlight {
  margin: 0px 8px;
  margin-right: 0;
}

#clock {
  background-color: @bg1;
  border-radius: 10px;
  padding: 0px 16px;
  margin: 8px 8px 0px 4px;
}

#custom-notification {
  background-color: @bg1;
  border-radius: 10px;
  padding: 0px 16px;
  margin: 8px 8px 0px 4px;
}
